body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #444;
  background: #FFFFF7;
  overflow-x: hidden;
}

body, body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  line-height: 1.5em;
}

.mobile {
  display: none;
}

.container {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
  -ms-grid-rows: 100px auto auto 10vh;
      grid-template-rows: 100px auto auto 10vh;
      grid-template-areas: "top top" "menu menu" "main main" "bottom bottom";
}

header, nav, footer, aside, main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: top;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header h1 {
  margin-bottom: 0px;
  font-size: 3em;
  margin-top: 40px;
  font-family: 'Sue Ellen Francisco', cursive;
}

nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: menu;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0px;
}

nav ul li {
  list-style: none;
  padding: 5px;
}

nav ul li a, nav ul li a:visited {
  padding: 0px 8px 8px 8px;
  color: #444;
  font-weight: 500;
  text-decoration: none;
  outline: none;
  position: relative;
}

nav ul li a:after, nav ul li a:visited:after {
  content: '';
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background: #ff7b00;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

nav ul li a:hover:after,
nav ul li a:focus:after,
nav ul li a:visited:hover:after,
nav ul li a:visited:focus:after {
  width: 100%;
}

main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-left: 15vw;
  padding-right: 15vw;
  min-height: 65vh;
}

main h1 {
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 2.5em;
  color: #000;
  margin-bottom: 2px;
  border-bottom: solid 1px #000;
}

main h2, main h4 {
  font-family: 'Open Sans Condensed', sans-serif;
}

main h2 {
  font-size: 1.8em;
  color: #444;
  font-weight: 500;
  padding-bottom: 3px;
  margin-top: 40px;
  margin-bottom: 5px;
}

main h3 {
  font-size: 1.1em;
  font-weight: 600;
  color: black;
}

main h4 {
  font-size: 1.4em;
}

footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: bottom;
}

h1 {
  font-weight: 300;
  font-size: 2.2em;
}

.poppies {
  background-image: url("assets/images/poppies1.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  width: 167px;
  height: 198px;
  position: absolute;
  z-index: -1;
  top: -6px;
  left: -12px;
  -webkit-transform: rotate(33deg);
          transform: rotate(33deg);
}

.poppies-bottom {
  background-image: url("assets/images/poppies1.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  width: 170px;
  height: 200px;
  margin-top: -200px;
  position: absolute;
  right: -42px;
  -webkit-transform: rotate(-41deg);
          transform: rotate(-41deg);
}

.poppies-bottom-left {
  background-image: url("assets/images/california-poppy.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  width: 230px;
  height: 180px;
  margin-top: -130px;
  position: absolute;
  left: -36px;
}

.diagonal-stripes {
  /* color: #ea341d; */
  color: #ff7b00;
}

.orange {
  /* color: #ea341d; */
  color: #999;
}

#logo {
  width: 200px;
  height: 100%;
}

.teaching ul {
  padding-left: 3.5em;
  margin-top: 0px;
  margin-bottom: 3em;
}

.teaching li {
  list-style-type: none;
  line-height: 1.6em;
}

.region {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
  border: none;
  margin-bottom: 40px;
}

.region section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33%;
  margin: 0px;
  height: 250px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.region section canvas {
  width: 100%;
  height: 200px;
}

.publications table td {
  vertical-align: top;
}

.publications table td:first-child {
  width: 80px;
  font-weight: 600;
}

.publications ul {
  margin: 0px;
  padding: 0px;
  overflow-wrap: break-word;
  max-width: 90vw;
}

.publications li {
  line-height: 1.6em;
  list-style-type: none;
  margin-bottom: 1em;
  margin-left: 2em;
  text-indent: -2em;
}

main a, main a:visited, main a:hover {
  text-decoration: none;
  /* color: #255C99; */
  color: #859503;
}

main a:hover {
  text-decoration: underline;
}

.region section a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  text-decoration: none;
  color: #000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.region section a:hover {
  color: #000;
}

.region section.lg {
  font-family: "Amatic SC";
  font-size: 50px;
  font-weight: bold;
  background-image: url(https://localground.org/static/assets/background-13.png);
  background-size: cover;
}

.region section.api-tutor {
  font-family: 'Roboto';
  font-size: 40px;
  background-image: -webkit-linear-gradient(top, #666, #111);
}

.region section.api-tutor a {
  color: white;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.region section.api-tutor img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 10px;
}

.venue {
  font-weight: 600;
  color: #000;
}

.teaching {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 0px 40px 0px;
}

.teaching p, .teaching h3 {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 10px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.teaching .image {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

.teaching .image > div {
  border: solid 1px #ccc;
  width: 100%;
  margin: 0px 0px 20px 0px;
  border-radius: 5px;
  padding: 5px;
  background: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.teaching .image > div img, .teaching .image > div span {
  width: 100%;
}

.teaching .image > div span {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 0.9em;
  text-align: center;
}

.teaching .image > div .aquarium, .teaching .image > div .trampolines, .teaching .image > div .web-graphic, .teaching .image > div .hci-graphic, .teaching .image > div .ethics-graphic {
  height: 175px;
  width: 100%;
  background-clip: content-box;
  background-repeat: no-repeat;
}

.teaching .image > div .aquarium {
  background-image: url(assets/images/image1.gif);
  background-position: -100px -33px;
  background-size: 200% auto;
}

.teaching .image > div .trampolines {
  background-image: url(assets/images/trampolines.gif);
  background-size: 320px 220px;
  background-position: -77px -13px;
}

.teaching .image > div .web-graphic {
  background-image: url(https://img.icons8.com/clouds/500/web-laptop.png);
  background-size: cover;
  background-position: center;
  max-width: 240px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.teaching .image > div .hci-graphic {
  background-image: url(https://web.mit.edu/6.813/www/sp18/classes/06-user-centered-design/figures/06.png);
  background-size: 100% auto;
  background-position: center;
  max-width: 300px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.teaching .image > div .ethics-graphic {
  background-image: url(https://news.umich.edu/wp-content/uploads/2019/01/new-u-m-digital-studies-institute-explores-impact-of-technology-with-focus-on-identity-inequality-ethics-LEAD.png);
  background-size: cover;
  background-position: center;
  max-width: 250px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.teaching .details {
  padding-left: 30px;
  width: calc(100% - 250px);
}

.teaching .details .course-links {
  background: #fff;
  border: dotted 1px #CCC;
  border-radius: 5px;
}

.teaching .details .course-links td, .teaching .details .course-links th {
  margin: 0px;
  padding: 1px 7px;
}

.teaching .details .course-links th {
  text-align: left;
  font-weight: 600;
}

@media (max-width: 1100px) {
  main {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media (max-width: 800px) {
  .desktop {
    display: none;
  }
  main {
    padding-left: 4vw;
    padding-right: 4vw;
  }
  .poppies-bottom {
    background-image: url("assets/images/poppies1.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 170px;
    height: 200px;
    margin-top: -200px;
    position: absolute;
    right: -42px;
    -webkit-transform: rotate(-41deg);
            transform: rotate(-41deg);
  }
  .poppies-bottom {
    margin-top: -80px;
  }
  .teaching {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .teaching .details {
    padding-left: 0px;
    width: 100%;
  }
  .teaching .details ul {
    margin-bottom: auto;
  }
  .teaching .image {
    margin-top: 20px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
  }
  .teaching .image > div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .teaching .image > div .trampolines {
    width: 100%;
    background-size: cover;
    background-position: 0px -33px;
  }
  .teaching .image > div .aquarium {
    width: 100%;
    background-position: -11px -33px;
    background-size: 120% auto;
  }
  .teaching .image > div img, .teaching .image > div span {
    height: 100%;
  }
}

@media (max-width: 400px) {
  .teaching .image > div .aquarium {
    background-position: -100px -33px;
    background-size: 200% auto;
  }
}

/* @media (max-width: 800px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 70px auto auto 8vh;
        grid-template-areas:
            "top"
            "menu"
            "main"
            "bottom";
        margin: 0px;
        grid-row-gap: 0px;
        grid-column-gap: 0px;
    }
    .desktop { display: none; }
    .mobile { display: flex; }

    nav, #logo { display: none; }
    footer, header { border: none; }
    header, nav {
        width: 100vw;
    }
    header {
        position: fixed;
        background: #444;
        color: white;
    }
    header h1 { font-size: 1.3em; }
    nav {
        background: white;
    }
    nav ul {
        flex-direction: column;
        z-index: 100;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    nav ul li { padding: 0px; }
    nav ul li a {
        display: flex;
        padding: 10px 18px;
    }
    header {
        align-items: flex-start;
        justify-content: flex-start;
    }
    header i { font-size: 24px; }
    header a {
        padding: 10px;
        margin: 5px;
        text-decoration: none;
        color: white;
    }
    main {
        min-height: 82vh;
        padding: 20px;
    }
    main h1 {
        margin-top: -12vh;
        padding-top: 12vh;
    }
    .region section {
        width: 100%;
        height: 80vw;
    }
} */
/*# sourceMappingURL=main.css.map */