body {
   margin: 0;
   font-family: 'Open Sans', sans-serif;
   color: #444;
   background: #FFFFF7;
   overflow-x: hidden;
}
body, body * {
   box-sizing: border-box;
}

p { line-height: 1.5em;}

.mobile {
    display: none;
}
.home {
    display: none;
}
main.sticky {
    margin-top: 90px;
}

.container {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 100px auto auto 10vh;
    grid-template-areas:
        "top top"
        "menu menu"
        "main main"
        "bottom bottom";
}

header, nav, footer, aside, main {
   display: flex;
   justify-content: center;
   align-items: center;
}
header {
   grid-area: top;
   align-items: flex-end;
   
   h1 {
        margin-bottom: 0px;
        font-size: 3em;
        margin-top: 40px;
        font-family: 'Sue Ellen Francisco', cursive;
    }
}
nav {
    .poppies {
        display: none;
    }
    &.sticky {
        height: 55px;
        background: #FFFFF7;
        position: fixed;
        top: 0;
        width: 100%;

        li.home, li {
            display: flex;
        }
    }
    grid-area: menu;
    ul {
        display: flex;
        flex-direction: row;
        padding: 0px;
        margin: 8px 0px 0px 0px;
        li {
            list-style: none;
            padding: 5px;
            a, a:visited {
                padding: 0px 8px 8px 8px;
                color: #444;
                font-weight: 500;
                text-decoration: none;
                outline: none;
                position: relative;
            }
            a:after, a:visited:after {
                content: '';
                height: 3px;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0%;
                background: #ff7b00;
                transition: 0.2s;
            }
            a:hover:after,
            a:focus:after,
            a:visited:hover:after,
            a:visited:focus:after {
                width: 100%;
            }
        }
    }
}
main {

    grid-area: main;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding-left: 15vw;
    padding-right: 15vw;
    min-height: 65vh;

    h1 {
        font-family: 'Sue Ellen Francisco', cursive;
        font-size: 2.5em;
        color: #000;
        padding-top: 60px;
        margin-top: -60px;
        margin-bottom: 2px;
        border-bottom: solid 1px #000;
    }
    h2, h4 {
        font-family: 'Open Sans Condensed', sans-serif;
    }
    h2 {
        font-size: 1.8em;
        color: #444;
        font-weight: 500;
        padding-bottom: 3px;
        margin-top: 40px;
        margin-bottom: 5px;
    }
    h3 {
        font-size: 1.1em;
        font-weight: 600;
        color: black;
    }
    h4 {
        font-size: 1.4em;
    }
}

footer {
   grid-area: bottom;
}

h1 {
    font-weight: 300;
    font-size: 2.2em;
}


.poppies {
    background-image: url('assets/images/poppies1.png');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 167px;
    height: 198px;
    position: absolute;
    z-index: -1;
    top: -6px;
    left: -12px;
    transform: rotate(33deg);
 }

.poppies-bottom {
    background-image: url('assets/images/poppies1.png');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 170px;
    height: 200px;
    margin-top: -200px;
    position: absolute;
    right: -42px;
    transform: rotate(-41deg);
}
.poppies-bottom-left {
    background-image: url('assets/images/california-poppy.png');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 230px;
    height: 180px;
    margin-top: -130px;
    position: absolute;
    left: -36px;
}

.publications table td {
    vertical-align: top;
}
.publications table td:first-child {
    min-width: 60px !important;
    font-weight: 600;
}
.publications ul {
    margin: 0px;
    padding: 0px;
    overflow-wrap: break-word;
    max-width: calc(100vw - 100px);
}

.publications li {
    line-height: 1.6em;
    list-style-type: none;
    margin-bottom: 1em;
    margin-left: 2em;
    text-indent: -2em;
}

main a, main a:visited, main a:hover {
    text-decoration: none;
    /* color: #255C99; */
    color: #859503;
}
main a:hover {
    text-decoration: underline;
}
.region section a {
    display: flex;
    height: 100%;
    text-decoration: none;
    color: #000;
    flex-direction: column-reverse;
    align-self: stretch;
    text-align: center;
    justify-content: center;
}
.region section a:hover {
    color: #000;
}


.region section.api-tutor {
    font-family: 'Roboto';
    font-size: 40px;
    background-image: -webkit-linear-gradient(top, #666, #111);
}
.region section.api-tutor a {
    color: white;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.region section.api-tutor img {
    align-self: center;
    margin-right: 10px;
}
.venue {
    font-weight: 600;
    color: #000;
}

.teaching, .project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 0px 40px 0px;
    // border: solid 1px #000;

    p, h3 {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 10px;
        align-self: flex-start;
    }

    .image {
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: top;

        > div {
            // border: solid 1px #ccc;
            // padding: 5px;
            // background: #FFF;
            width: 100%;
            margin: 0px 0px 20px 0px;
            border-radius: 5px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            img, span {
                width: 100%;
            }
            span {
                margin-top: 5px;
                margin-bottom: 15px;
                font-size: 0.8em;
                font-weight: 600;
                text-align: center;
            }
            .aquarium, .trampolines, .web-graphic, 
            .hci-graphic, .ethics-graphic, .data-design, 
            .web-design-graphic, .students, .lg {
                height: 175px;
                width: 100%;
                background-clip: content-box;
                background-repeat: no-repeat;
            }

            .aquarium {
                background-image: url(assets/images/image1.gif);
                background-position: -100px -33px;
                background-size: 200% auto;
            }

            .trampolines {
                background-image: url(assets/images/trampolines.gif);
                background-size: 320px 220px;
                background-position: -77px -13px;
            }

            .web-graphic {
                background-image: url(https://img.icons8.com/clouds/500/web-laptop.png);
                background-size: cover;
                background-position: center;
                max-width: 240px;
                align-self: center;
            }

            .hci-graphic {
                background-image: url(https://web.mit.edu/6.813/www/sp18/classes/06-user-centered-design/figures/06.png);
                background-size: 100% auto;
                background-position: center;
                max-width: 300px;
                align-self: center;
            }

            .ethics-graphic {
                background-image: url(https://news.umich.edu/wp-content/uploads/2019/01/new-u-m-digital-studies-institute-explores-impact-of-technology-with-focus-on-identity-inequality-ethics-LEAD.png);
                background-size: cover;
                background-position: center;
                max-width: 250px;
                align-self: center;
            }

            .web-design-graphic {
                background-image: url(https://1zaja5380s332hs2h2r9fce1-wpengine.netdna-ssl.com/kansas-city/wp-content/uploads/sites/2/2017/05/kansas-city-website-design-kansas-city-web-development-asset.png);
                background-size: auto 100%;
                background-position: center;
                max-width: 350px;
                align-self: center;
            }

            .students {
                background-image: url(assets/images/students.png);
                background-size: auto 100%;
                background-position: center -20px;
                max-width: 350px;
                align-self: center;
            }

            .data-design {
                background-image: url(assets/images/bikelane.jpg);
                background-size: cover; //auto 100%;
                background-position: center; // -20px;
                max-width: 350px;
                align-self: center;
            }

            .lg {
                font-family: "Amatic SC";
                font-size: 50px;
                font-weight: bold;
                background-image: url(https://localground.org/static/assets/background-13.png);
                background-size: cover;
                justify-content: center;
                align-items: center;
                display: flex;
                a, a:hover, a:active, a:visited {
                    color: #222;
                    text-decoration: none;
                }
            }
            canvas {
                width: 250px;
                height: 170px;
            }

            .api-tutor {
                font-family: 'Roboto';
                font-size: 40px;
                letter-spacing: -1px;
                a, a:hover, a:active, a:visited {
                    color: #222;
                    text-decoration: none;
                    font-weight: 600;
                }
                img {
                    width: 50px;
                    vertical-align: sub;
                }
            }
        }
    }

    .details {
        padding-left: 30px;
        width: calc(100% - 250px);
        .course-links {
            background: #fff;
            border: dotted 1px #CCC;
            border-radius: 5px;
            td, th {
                margin: 0px;
                padding: 1px 7px;
            }
            th { 
                text-align: left;
                font-weight: 600; 
            }
        }
    }
}



@media (max-width: 1100px) {
    main {
        padding-left: 10vw;
        padding-right: 10vw;
    } 
}
@media (max-width: 800px) {
    .desktop { display: none !important; }
    main {
        padding-left: 4vw;
        padding-right: 4vw;
    }
    .poppies-bottom {
        background-image: url('assets/images/poppies1.png');
        background-position: top right;
        background-repeat: no-repeat;
        background-size: cover;
        width: 170px;
        height: 200px;
        margin-top: -200px;
        position: absolute;
        right: -42px;
        transform: rotate(-41deg);
    }
    .poppies-bottom-left {
        margin-top: -80px; 
    }
    .poppies-bottom { 
        margin-top: -80px; 
    }
    .teaching, .project {
        flex-direction: column-reverse;
        .details {
            padding-left: 0px;
            width: 100%;
            ul {
                margin-bottom: auto;
            }
        }
        .image {
            margin-top: 20px;
            width: 100%;
            display: flex;
            height: auto;
            > div {
                justify-content: center;
                flex-direction: row;
                .trampolines {
                    width: 100%;
                    background-size: cover;
                    background-position: 0px -33px;
                }
                .aquarium {
                    width: 100%;
                    background-position: -11px -33px;
                    background-size: 120% auto;
                }
                img, span {
                    // width: auto;
                    height: 100%;
                }
            }
        }
    }  
}
@media (max-width: 400px) { 
    .teaching {
        .image { 
            >div {
                .aquarium {
                    background-position: -100px -33px;
                    background-size: 200% auto;
                }
            }
        }
    }
}

