body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #444;
  background: #FFFFF7;
  overflow-x: hidden;
}

body, body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  line-height: 1.5em;
}

.mobile {
  display: none;
}

.home {
  display: none;
}

main.sticky {
  margin-top: 90px;
}

.container {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
  -ms-grid-rows: 100px auto auto 10vh;
      grid-template-rows: 100px auto auto 10vh;
      grid-template-areas: "top top" "menu menu" "main main" "bottom bottom";
}

header, nav, footer, aside, main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: top;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header h1 {
  margin-bottom: 0px;
  font-size: 3em;
  margin-top: 40px;
  font-family: 'Sue Ellen Francisco', cursive;
}

nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: menu;
}

nav .poppies {
  display: none;
}

nav.sticky {
  height: 55px;
  background: #FFFFF7;
  position: fixed;
  top: 0;
  width: 100%;
}

nav.sticky li.home, nav.sticky li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0px;
  margin: 8px 0px 0px 0px;
}

nav ul li {
  list-style: none;
  padding: 5px;
}

nav ul li a, nav ul li a:visited {
  padding: 0px 8px 8px 8px;
  color: #444;
  font-weight: 500;
  text-decoration: none;
  outline: none;
  position: relative;
}

nav ul li a:after, nav ul li a:visited:after {
  content: '';
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background: #ff7b00;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

nav ul li a:hover:after,
nav ul li a:focus:after,
nav ul li a:visited:hover:after,
nav ul li a:visited:focus:after {
  width: 100%;
}

main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-left: 15vw;
  padding-right: 15vw;
  min-height: 65vh;
}

main h1 {
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 2.5em;
  color: #000;
  padding-top: 60px;
  margin-top: -60px;
  margin-bottom: 2px;
  border-bottom: solid 1px #000;
}

main h2, main h4 {
  font-family: 'Open Sans Condensed', sans-serif;
}

main h2 {
  font-size: 1.8em;
  color: #444;
  font-weight: 500;
  padding-bottom: 3px;
  margin-top: 40px;
  margin-bottom: 5px;
}

main h3 {
  font-size: 1.1em;
  font-weight: 600;
  color: black;
}

main h4 {
  font-size: 1.4em;
}

footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: bottom;
}

h1 {
  font-weight: 300;
  font-size: 2.2em;
}

.poppies {
  background-image: url("../images/poppies1.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  width: 167px;
  height: 198px;
  position: absolute;
  z-index: -1;
  top: -6px;
  left: -12px;
  -webkit-transform: rotate(33deg);
          transform: rotate(33deg);
}

.poppies-bottom {
  background-image: url("../images/poppies1.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  width: 170px;
  height: 200px;
  margin-top: -200px;
  position: absolute;
  right: -42px;
  -webkit-transform: rotate(-41deg);
          transform: rotate(-41deg);
}

.poppies-bottom-left {
  background-image: url("../images/california-poppy.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  width: 230px;
  height: 180px;
  margin-top: -130px;
  position: absolute;
  left: -36px;
}

.publications table td {
  vertical-align: top;
}

.publications table td:first-child {
  min-width: 60px !important;
  font-weight: 600;
}

.publications ul {
  margin: 0px;
  padding: 0px;
  overflow-wrap: break-word;
  max-width: calc(100vw - 100px);
}

.publications li {
  line-height: 1.6em;
  list-style-type: none;
  margin-bottom: 1em;
  margin-left: 2em;
  text-indent: -2em;
}

main a, main a:visited, main a:hover {
  text-decoration: none;
  /* color: #255C99; */
  color: #859503;
}

main a:hover {
  text-decoration: underline;
}

.region section a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  text-decoration: none;
  color: #000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.region section a:hover {
  color: #000;
}

.region section.api-tutor {
  font-family: 'Roboto';
  font-size: 40px;
  background-image: -webkit-linear-gradient(top, #666, #111);
}

.region section.api-tutor a {
  color: white;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.region section.api-tutor img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 10px;
}

.venue {
  font-weight: 600;
  color: #000;
}

.teaching, .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 0px 40px 0px;
}

.teaching p, .teaching h3, .project p, .project h3 {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 10px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.teaching .image, .project .image {
  min-height: 175px;
  border: solid 1px #EEE;
  border-radius: 4px;
  background: radial-gradient(#EEE 15%, transparent 16%) 0 0, radial-gradient(#EEE 15%, transparent 16%) 4px 4px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 4px 5px;
  background-color: #FFFFF7;
  background-size: 8px 8px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.teaching .image > div, .project .image > div {
  width: 100%;
  margin: 0px 0px 0px 0px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.teaching .image > div img, .teaching .image > div span, .project .image > div img, .project .image > div span {
  width: 100%;
}

.teaching .image > div span, .project .image > div span {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 0.8em;
  font-weight: 600;
  text-align: center;
}

.teaching .image > div .aquarium, .teaching .image > div .trampolines, .teaching .image > div .web-graphic,
.teaching .image > div .hci-graphic, .teaching .image > div .ethics-graphic, .teaching .image > div .data-design,
.teaching .image > div .web-design-graphic, .teaching .image > div .students, .teaching .image > div .lg, .project .image > div .aquarium, .project .image > div .trampolines, .project .image > div .web-graphic,
.project .image > div .hci-graphic, .project .image > div .ethics-graphic, .project .image > div .data-design,
.project .image > div .web-design-graphic, .project .image > div .students, .project .image > div .lg {
  height: 175px;
  width: 100%;
  background-clip: content-box;
  background-repeat: no-repeat;
}

.teaching .image > div .aquarium, .project .image > div .aquarium {
  background-image: url(../images/image1.gif);
  background-position: -100px -33px;
  background-size: 200% auto;
}

.teaching .image > div .trampolines, .project .image > div .trampolines {
  background-image: url(../images/trampolines.gif);
  background-size: 320px 220px;
  background-position: -77px -13px;
}

.teaching .image > div .web-graphic, .project .image > div .web-graphic {
  background-image: url(https://img.icons8.com/clouds/500/web-laptop.png);
  background-size: cover;
  background-position: center;
  max-width: 240px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.teaching .image > div .hci-graphic, .project .image > div .hci-graphic {
  background-image: url(https://web.mit.edu/6.813/www/sp18/classes/06-user-centered-design/figures/06.png);
  background-size: 100% auto;
  background-position: center;
  max-width: 300px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.teaching .image > div .ethics-graphic, .project .image > div .ethics-graphic {
  background-image: url(../images/ethics.png);
  background-size: 190px;
  background-position: center;
  max-width: 250px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.teaching .image > div .web-design-graphic, .project .image > div .web-design-graphic {
  background-image: url(https://1zaja5380s332hs2h2r9fce1-wpengine.netdna-ssl.com/kansas-city/wp-content/uploads/sites/2/2017/05/kansas-city-website-design-kansas-city-web-development-asset.png);
  background-size: auto 100%;
  background-position: center;
  max-width: 350px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.teaching .image > div .students, .project .image > div .students {
  background-image: url(../images/students.png);
  background-size: auto 100%;
  background-position: center -20px;
  max-width: 350px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.teaching .image > div .data-design, .project .image > div .data-design {
  background-image: url(../images/bikelane.jpg);
  background-size: cover;
  background-position: center;
  max-width: 350px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.teaching .image > div .lg, .project .image > div .lg {
  font-family: "Amatic SC";
  font-size: 50px;
  font-weight: bold;
  background-image: url(https://localground.org/static/assets/background-13.png);
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.teaching .image > div .lg a, .teaching .image > div .lg a:hover, .teaching .image > div .lg a:active, .teaching .image > div .lg a:visited, .project .image > div .lg a, .project .image > div .lg a:hover, .project .image > div .lg a:active, .project .image > div .lg a:visited {
  color: #222;
  text-decoration: none;
}

.teaching .image > div canvas, .project .image > div canvas {
  width: 250px;
  height: 170px;
}

.teaching .image > div .api-tutor, .project .image > div .api-tutor {
  font-family: 'Roboto';
  font-size: 40px;
  letter-spacing: -1px;
}

.teaching .image > div .api-tutor a, .teaching .image > div .api-tutor a:hover, .teaching .image > div .api-tutor a:active, .teaching .image > div .api-tutor a:visited, .project .image > div .api-tutor a, .project .image > div .api-tutor a:hover, .project .image > div .api-tutor a:active, .project .image > div .api-tutor a:visited {
  color: #222;
  text-decoration: none;
  font-weight: 600;
}

.teaching .image > div .api-tutor img, .project .image > div .api-tutor img {
  width: 50px;
  vertical-align: sub;
}

.teaching .details, .project .details {
  padding-left: 30px;
  width: calc(100% - 250px);
}

.teaching .details .course-links, .project .details .course-links {
  background: #fff;
  border: dotted 1px #CCC;
  border-radius: 5px;
}

.teaching .details .course-links td, .teaching .details .course-links th, .project .details .course-links td, .project .details .course-links th {
  margin: 0px;
  padding: 1px 7px;
}

.teaching .details .course-links th, .project .details .course-links th {
  text-align: left;
  font-weight: 600;
}

@media (max-width: 1100px) {
  main {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media (max-width: 800px) {
  .desktop {
    display: none !important;
  }
  main {
    padding-left: 4vw;
    padding-right: 4vw;
  }
  .poppies-bottom {
    background-image: url("../images/poppies1.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 170px;
    height: 200px;
    margin-top: -200px;
    position: absolute;
    right: -42px;
    -webkit-transform: rotate(-41deg);
            transform: rotate(-41deg);
  }
  .poppies-bottom-left {
    margin-top: -80px;
  }
  .poppies-bottom {
    margin-top: -80px;
  }
  .teaching, .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .teaching .details, .project .details {
    padding-left: 0px;
    width: 100%;
  }
  .teaching .details ul, .project .details ul {
    margin-bottom: auto;
  }
  .teaching .image, .project .image {
    min-height: auto;
    margin-top: 20px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
  }
  .teaching .image > div, .project .image > div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .teaching .image > div .trampolines, .project .image > div .trampolines {
    width: 100%;
    background-size: cover;
    background-position: 0px -33px;
  }
  .teaching .image > div .aquarium, .project .image > div .aquarium {
    width: 100%;
    background-position: -11px -33px;
    background-size: 120% auto;
  }
  .teaching .image > div img, .teaching .image > div span, .project .image > div img, .project .image > div span {
    height: 100%;
  }
}

@media (max-width: 400px) {
  .teaching .image > div .aquarium {
    background-position: -100px -33px;
    background-size: 200% auto;
  }
}
/*# sourceMappingURL=main.css.map */