<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    {% include head.html %}
</head>

<body>

    <!-- header -->
    {% include page-header.html heading="Sarah Van Wart" %}

    <!-- navigation -->
    {% include navigation.html %}

    <!-- main panel -->
    <main class="two-column">
        <div class="left">
            <!-- <img src="/assets/images/students.png" alt="High school students working on a website together." /> -->

            {% include news.html %}
        </div>

        <div class="right">
            {{ content }}
        </div>

    </main>


</body>

</html>